<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page <%= 4+1+1+10 %>
            <%= 'hello world' .toUpperCase() %>
    </h1>
    <p1>Lorem ipsum dolor sit amet co
        nsectetur adipisicing elit.
        Amet voluptatem sed beatae doloribus rerum incidu
        nt voluptatibus. Dolorum vitae, labore ab laboriosam,
        corporis totam a excepturi repre
        henderit animi eligendi, asperiores voluptatum.</p1>
    <p1>Lorem ipsum dolor sit, amet
        consectetur adipisicing elit.
        Atque recusandae et ipsum possimus.
        Nulla natus ipsum maxime minima eaque sequi labore minus consectetur fugit hic, similique repudiandae autem!
        Tempora, obcaecati.
    </p1>
    <h2>
        <%= Math.floor(Math.random()*10 +1) %>
    </h2>


</body>

</html>