<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
</head>

<body>
    <h1>Add a product</h1>
    <form action="/products" method="POST">
        <input type="text" name="name" placeholder="product name">
    </form>

</body>

</html>